.header {
  height: 48px;
  background-color: #FFF;
  width: 100%;
  border-bottom: #888 1px solid;
  margin-bottom: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-topicon {
  height: 48px;
  width: 100%;
  max-width: 200px;
  background-image: url(../images/header_image.png);
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-left: 8px;
}

@media screen and (min-width: 960px) {
  .header-topicon {
    height: 160px;
    width: 100%;
    max-width: 720px;
    background-image: url(../images/header_image.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin-left: 8px;
  }
}

.header .open-btn {
  font-size: 30px;
  cursor: pointer;
}

.header .fa-bars:before {
  content: "\f0c9";
  margin-right: 1.6rem;
}

/* section-top */
.section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-top__topsection {
  text-align: center;
}

.section-top__topsection img {
  width: 100%;
  max-width: 360px;
  height: auto;
  margin-bottom: 72px;
}

.section-top__topsection .upper-text {
  font-size: 3.2rem;
  font-weight: 900;
  margin-bottom: 64px;
  line-height: 4rem;
  text-align: left;
}

.section-top__topsection .lower-text {
  font-size: 2.4rem;
  font-weight: 900;
}

.section-top__catchtext {
  font-family: "Noto Sans JP";
}

/* section-dhu */
.section-dhu {
  width: 100%;
  padding-top: 88px;
  text-align: center;
  margin-bottom: 72px;
}

.section-dhu .title h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.section-dhu .title h3 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.section-dhu .image {
  margin-bottom: 64px;
}

.section-dhu .image img {
  width: 100%;
  max-width: 240px;
  height: auto;
}

.section-dhu .description {
  margin: 0 auto;
  height: 20rem;
  width: 35.4rem;
}

.section-dhu .description p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-align: left;
}

/* section-web */
.section-web {
  width: 100%;
  text-align: center;
  margin-bottom: 72px;
}

.section-web .title h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.section-web .title h3 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.section-web .image {
  margin-bottom: 64px;
}

.section-web .image img {
  width: 100%;
  max-width: 240px;
  height: auto;
}

.section-web .description {
  margin: 0 auto;
  height: 20rem;
  width: 35.4rem;
}

.section-web .description p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-align: left;
}

/* section-languages */
.section-languages {
  width: 100%;
  text-align: center;
  margin-bottom: 72px;
}

.section-languages h3 {
  font-size: 2.4rem;
  margin-bottom: 3.6rem;
}

.section-languages h3 span {
  font-size: 1.6rem;
}

.section-languages .languages-box {
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
}

.section-languages .languages-box img {
  width: 100%;
  max-width: 208px;
  height: auto;
}

.section-languages .languages-box p {
  font-size: 3.2rem;
  margin-top: 1.8rem;
}

.section-languages .languages-box .sub-box {
  margin-bottom: 42px;
}

/* section-courses */
.section-courses {
  width: 100%;
  text-align: center;
  margin-bottom: 72px;
}

.section-courses h3 {
  font-size: 2.4rem;
  margin-bottom: 3.6rem;
}

.section-courses h3 span {
  font-size: 1.6rem;
}

.section-courses .courses-box {
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  align-items: center;
}

.section-courses .courses-box .sub-box {
  max-width: 320px;
  margin-bottom: 4rem;
}

.section-courses .courses-box .sub-box img {
  width: 100%;
  max-width: 320px;
  height: auto;
  margin-bottom: 32px;
}

.section-courses .courses-box h4 {
  font-size: 2.4rem;
  color: #FF710A;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.section-courses .courses-box h4 span {
  font-size: 1.6rem;
}

.section-courses .courses-box p {
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-align: left;
}

/* section-teachers */
.section-teachers {
  width: 100%;
  text-align: center;
  margin-bottom: 72px;
}

.section-teachers h3 {
  font-size: 2.4rem;
  margin-bottom: 3.6rem;
}

.section-teachers h3 span {
  font-size: 1.6rem;
}

.section-teachers .teacher-box {
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.section-teachers img {
  width: 100%;
  max-width: 325px;
  height: auto;
}

.section-teachers h4 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: 2.4rem;
  text-align: left;
  margin-bottom: 1.2rem;
}

.section-teachers h5 {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: left;
  color: #FF710A;
  margin-bottom: 1.8rem;
}

.section-teachers p {
  font-size: 1.6rem;
  text-align: left;
  line-height: 2;
  min-height: 200px;
}

.section-teachers .sub-box {
  margin-bottom: 42px;
}

/* section-graduates */
.section-graduates {
  width: 100%;
  text-align: center;
  margin-bottom: 72px;
}

.section-graduates h3 {
  font-size: 2.4rem;
  margin-bottom: 3.6rem;
}

.section-graduates h3 span {
  font-size: 1.6rem;
}

.section-graduates .graduates-box {
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.section-graduates img {
  width: 100%;
  max-width: 325px;
  height: auto;
}

.section-graduates h4 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  text-align: left;
  margin-bottom: 1.2rem;
  line-height: 2;
}

.section-graduates p {
  font-size: 1.6rem;
  text-align: left;
  line-height: 2;
  min-height: 272px;
}

.section-graduates .graduate-wada {
  margin-bottom: 40px;
}

/* section-location */
.section-location {
  margin-bottom: 104px;
}

.section-location .location-text {
  text-align: center;
  width: 336px;
  margin-left: auto;
  margin-right: auto;
}

.section-location .location-text h3 {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.section-location .location-text h3 span {
  font-size: 1.6rem;
}

.section-location .location-text h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
  width: 100%;
}

.footer {
  width: 100%;
  min-width: 480px;
}

.footer .footer_subscribe {
  min-height: 390px;
  background-color: #ccc;
  text-align: center;
}

.footer .footer_subscribe h3 {
  font-size: 3.2rem;
  font-weight: 700;
  padding-top: 32px;
  padding-bottom: 40px;
  color: #333;
}

.footer .footer_subscribe p {
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: #333;
  width: 100%;
  height: 108px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.2rem;
}

.footer .footer_subscribe .subscribe-inputbox {
  display: flex;
  justify-content: center;
}

.footer .footer_subscribe input {
  width: 240px;
  height: 56px;
  border: none;
  border-radius: 8px 0 0 8px;
}

.footer .footer_subscribe .send-btn {
  width: 48px;
  padding: 11px 26px;
  background-color: #FF710A;
  color: #fff;
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: 700;
  border-radius: 0 8px 8px 0;
  text-align: center;
}

.footer_navigation {
  margin-top: 48px;
  height: 200px;
  background-color: #000;
  text-align: center;
  display: flex;
  flex-flow: column;
  color: #fff;
}

.footer_navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.footer_navigation ul li {
  list-style: none;
}

.footer_navigation ul li a {
  text-decoration: none;
  padding: 0 40px;
}

.footer_navigation ul li a img {
  width: 40px;
  height: auto;
}

.footer_navigation .copyright {
  font-size: 1.6rem;
  font-weight: 300;
  padding-top: 56px;
  padding-bottom: 42px;
}
/*# sourceMappingURL=style.css.map */