@charset "UTF-8";
.main {
    background-color: #f6f8f9;
}

.section-top {
    h2 {
        color: #fff;
        font-size: 2.0rem;
    }

    &__image {
        height: 200px;/*デバイス（スマートフォン）の高さ一杯にするため*/
        background-image: url("../images/common/mountain04.jpg");
        background-position: center;
        background-size: 100% auto;/*左右は100%、高さはautoピッタリ合わせる*/
        background-repeat: no-repeat;
    }

    &__image-filter {
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        padding-top: 80px;
    }
}
@media (min-width: 960px) {
    .section-top {
        h2 {
            font-size: 4.0rem;
        }

        &__image {
            height: 540px;
        }
        &__image-filter {
            padding-top: 210px;
        }
    }
}

.news-container {
    padding: 40px 24px 90px;
    text-align: left;

    .news-list {
        list-style: none;
        margin-bottom: 60px;

        li {
            margin-bottom: 10px;
        }

        h3 {
            font-weight: 300;
        }

        &__category {
            background-color: #777;
            width: 150px;
            height: 24px;
            padding-left: 8px;
            color: #fff;
            font-size: 1.4rem;
        }
        &__category.press {
           background-color: #004280; 
        }
        &__category.info {
           background-color: #2987b9; 
        }
        &__news-body {
            display: none;
        }
    }
}

.pagenation {
    text-align: center;

    &__list li {
        display: inline-block;
        border: solid 2px #333;

        a {
            display: block;
            padding: 10px;
            max-width: 40px;
            max-height: 46px;
            text-decoration: none;
            color: #333;
            background-color: #fff;
            font-weight: bold;
        }
        a.selected {
            background-color: #707070;
            color: #fff;
        }
    }

}
@media (min-width: 960px) {
    .news-container {
        padding: 120px 24px;

        .news-list {
            width: 800px;
            margin: 0 auto;

            li {
                display: flex;
                margin-bottom: 60px;
            }
            &__category {
                width: 200px;
                height: 150px;
                font-size: 2.0rem;
                vertical-align: middle;
                line-height: 150px;
                text-align: center;
            }
            &__text {
                margin-left: 60px;
                width: 540px;

                h3,time {
                    font-weight: 600;
                }
                time {
                    display: block;
                    margin-bottom: 20px;
                }
            }
            &__news-body {
                display: block;
            }

        }

        .pagenation {
            &__list {
                font-size: 0;

                li {
                    border-left: none;

                    a {
                        padding: 18px;
                        max-width: none;
                        max-height: none;
                        font-size: 3.0rem;
                        font-weight: 600;
                    }
                }

                li:first-child {
                   margin-right: 20px;
                   border: solid 2px #333;
                }
                li:nth-child(2) {
                   border: solid 2px #333;
                }
                li:last-child {
                    margin-left: 20px;
                   border: solid 2px #333;
                }
            }


        }
    }
}