.header {
  max-width: 1440px;
  margin: 0 auto;
  height: 128px;
  background-color: #FFF;
  margin-bottom: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-topicon img {
  width: 100%;
  height: auto;
  max-width: 560px;
}
@media screen and (max-width: 991px) {
  .header-topicon img {
    max-width: 480px;
  }
}
.header .open-btn {
  font-size: 5rem;
  margin-right: 24px;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .header .open-btn {
    font-size: 3.2rem;
  }
}
.header .fa-bars:before {
  content: "\f0c9";
  margin-right: 1.6rem;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}

/* section-top */
.section-top {
  width: 100%;
  margin: 0 auto;
}
.section-top__topsection {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
@media screen and (max-width: 991px) {
  .section-top__topsection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.section-top__topsection img {
  width: 100%;
  max-width: 640px;
  height: auto;
  margin-bottom: 72px;
}
@media screen and (max-width: 991px) {
  .section-top__topsection img {
    max-width: 480px;
  }
}
.section-top__topsection .upper-text {
  font-size: 5.6rem;
  font-weight: 900;
  margin-bottom: 28px;
  line-height: 8rem;
  text-align: left;
}
@media screen and (max-width: 991px) {
  .section-top__topsection .upper-text {
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 64px;
    line-height: 4rem;
    text-align: left;
  }
}
.section-top__topsection .lower-text {
  font-size: 3.2rem;
  font-weight: 900;
}
@media screen and (max-width: 991px) {
  .section-top__topsection .lower-text {
    font-size: 2.4rem;
    font-weight: 900;
  }
}
.section-top__catchtext {
  font-family: "Noto Sans JP";
  margin-top: 6.4rem;
}

/* section-dhu */
.section-dhu {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 224px;
}
@media screen and (max-width: 991px) {
  .section-dhu {
    padding-top: 88px;
    text-align: center;
    margin-bottom: 72px;
  }
}
.section-dhu .title h2 {
  font-size: 4.8rem;
  margin-bottom: 1.6rem;
  line-height: 1.1;
}
@media screen and (max-width: 991px) {
  .section-dhu .title h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
}
.section-dhu .title h3 {
  font-size: 4rem;
  margin-bottom: 5.6rem;
  line-height: 1.1;
}
@media screen and (max-width: 991px) {
  .section-dhu .title h3 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
.section-dhu .image {
  display: flex;
  justify-content: center;
}
.section-dhu .image img {
  max-width: 42rem;
  height: auto;
  margin-right: 1.6rem;
}
@media screen and (max-width: 991px) {
  .section-dhu .image img {
    width: 100%;
    max-width: 240px;
    height: auto;
  }
}
.section-dhu .text {
  max-width: 72rem;
}
@media screen and (max-width: 991px) {
  .section-dhu .description {
    margin: 0 auto;
    height: 20rem;
    width: 35.4rem;
  }
}
.section-dhu .description p {
  font-size: 2.4rem;
  line-height: 2;
  padding-right: 8rem;
}
@media screen and (max-width: 991px) {
  .section-dhu .description p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    text-align: left;
  }
}

/* section-web */
.section-web {
  display: flex;
  justify-content: space-between;
  margin-top: 224px;
  margin-bottom: 224px;
}
@media screen and (max-width: 991px) {
  .section-web {
    padding-top: 88px;
    text-align: center;
    margin-bottom: 72px;
  }
}
.section-web .title h2 {
  font-size: 4.8rem;
  margin-bottom: 1.6rem;
  text-align: right;
}
@media screen and (max-width: 991px) {
  .section-web .title h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
}
.section-web .title h3 {
  font-size: 4rem;
  margin-bottom: 6.4rem;
  text-align: right;
}
@media screen and (max-width: 991px) {
  .section-web .title h3 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
.section-web .image {
  display: flex;
  justify-content: center;
}
.section-web .image img {
  max-width: 48rem;
  height: auto;
  margin-left: 1.6rem;
}
@media screen and (max-width: 991px) {
  .section-web .image img {
    width: 100%;
    max-width: 240px;
    height: auto;
  }
}
.section-web .text {
  max-width: 72rem;
}
@media screen and (max-width: 991px) {
  .section-web .description {
    margin: 0 auto;
    height: 20rem;
    width: 35.4rem;
  }
}
.section-web .description p {
  font-size: 2.4rem;
  line-height: 2;
  margin-left: 8rem;
}
@media screen and (max-width: 991px) {
  .section-web .description p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    text-align: left;
  }
}

/* section-languages */
.section-languages {
  text-align: center;
  margin-bottom: 224px;
}
@media screen and (max-width: 991px) {
  .section-languages {
    width: 100%;
    text-align: center;
    margin-bottom: 72px;
  }
}
.section-languages h3 {
  font-size: 5.6rem;
  margin-bottom: 8rem;
}
@media screen and (max-width: 991px) {
  .section-languages h3 {
    font-size: 2.4rem;
    margin-bottom: 3.6rem;
  }
}
.section-languages h3 span {
  font-size: 4rem;
}
@media screen and (max-width: 991px) {
  .section-languages h3 span {
    font-size: 1.6rem;
  }
}
.section-languages .languages-box {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .section-languages .languages-box {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
  }
}
.section-languages .languages-box img {
  width: 100%;
  max-width: 208px;
  height: auto;
}
.section-languages .languages-box p {
  font-size: 3.2rem;
  margin-top: 1.8rem;
}
@media screen and (max-width: 991px) {
  .section-languages .languages-box .sub-box {
    margin-bottom: 42px;
  }
}
.section-languages .languages-box .center-box {
  margin: 0 200px;
}
@media screen and (max-width: 991px) {
  .section-languages .languages-box .center-box {
    margin: 0;
  }
}

/* section-courses */
.section-courses {
  text-align: center;
  margin-bottom: 224px;
}
@media screen and (max-width: 991px) {
  .section-courses {
    width: 100%;
    text-align: center;
    margin-bottom: 72px;
  }
}
.section-courses h3 {
  font-size: 5.6rem;
  margin-bottom: 8rem;
}
@media screen and (max-width: 991px) {
  .section-courses h3 {
    font-size: 2.4rem;
    margin-bottom: 3.6rem;
  }
}
.section-courses h3 span {
  font-size: 4rem;
}
@media screen and (max-width: 991px) {
  .section-courses h3 span {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 991px) {
  .section-courses .courses-box {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    align-items: center;
  }
}
.section-courses .courses-box .sub-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}
.section-courses .courses-box .sub-box .upper-box, .section-courses .courses-box .sub-box .lower-box {
  margin-left: 108px;
}
.section-courses .courses-box .sub-box div {
  max-width: 64rem;
}
@media screen and (max-width: 991px) {
  .section-courses .courses-box .sub-box {
    max-width: 320px;
    margin-bottom: 4rem;
  }
}
.section-courses .courses-box .reverse-box {
  flex-direction: row-reverse;
}
.section-courses .courses-box .sub-box img {
  width: 100%;
  max-width: 560px;
  height: auto;
}
@media screen and (max-width: 991px) {
  .section-courses .courses-box .sub-box img {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-bottom: 32px;
  }
}
.section-courses .courses-box h4 {
  font-size: 4rem;
  color: #FF710A;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 991px) {
  .section-courses .courses-box h4 {
    font-size: 2.4rem;
    color: #FF710A;
    font-weight: 700;
    margin-bottom: 2.4rem;
  }
}
@media screen and (max-width: 991px) {
  .section-courses .courses-box h4 span {
    font-size: 1.6rem;
  }
}
.section-courses .courses-box p {
  font-size: 2.4rem;
  line-height: 2;
  text-align: left;
}
@media screen and (max-width: 991px) {
  .section-courses .courses-box p {
    font-size: 1.6rem;
    line-height: 3.2rem;
    text-align: left;
  }
}

/* section-teachers */
.section-teachers {
  text-align: center;
  margin-bottom: 224px;
}
@media screen and (max-width: 991px) {
  .section-teachers {
    width: 100%;
    text-align: center;
    margin-bottom: 72px;
  }
}
.section-teachers h3 {
  font-size: 5.6rem;
  margin-bottom: 8rem;
}
@media screen and (max-width: 991px) {
  .section-teachers h3 {
    font-size: 2.4rem;
    margin-bottom: 3.6rem;
  }
}
.section-teachers h3 span {
  font-size: 4rem;
}
@media screen and (max-width: 991px) {
  .section-teachers h3 span {
    font-size: 1.6rem;
  }
}
.section-teachers .teacher-box {
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
}
@media screen and (max-width: 991px) {
  .section-teachers .teacher-box {
    font-size: 1.6rem;
  }
}
.section-teachers .teacher-box h4 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: 2.4rem;
  text-align: left;
  margin-bottom: 0.8rem;
}
@media screen and (max-width: 991px) {
  .section-teachers .teacher-box h4 {
    font-size: 3.2rem;
    font-weight: 500;
    margin-top: 2.4rem;
    text-align: left;
    margin-bottom: 1.2rem;
  }
}
.section-teachers .teacher-box h5 {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: left;
  color: #FF710A;
  margin-bottom: 1.8rem;
}
@media screen and (max-width: 991px) {
  .section-teachers .teacher-box h5 {
    font-size: 2.4rem;
    font-weight: 400;
    text-align: left;
    color: #FF710A;
    margin-bottom: 1.8rem;
  }
}
.section-teachers .teacher-box p {
  font-size: 2.4rem;
  text-align: left;
  line-height: 2;
}
@media screen and (max-width: 991px) {
  .section-teachers .teacher-box p {
    font-size: 1.6rem;
    text-align: left;
    line-height: 2;
    min-height: 200px;
  }
}
.section-teachers img {
  width: 100%;
  max-width: 32rem;
  height: auto;
}
@media screen and (max-width: 991px) {
  .section-teachers img {
    width: 100%;
    max-width: 325px;
    height: auto;
  }
}
.section-teachers .sub-box {
  max-width: 36.2rem;
  text-align: left;
}

/* section-graduates */
.section-graduates {
  text-align: center;
  margin-bottom: 224px;
}
@media screen and (max-width: 991px) {
  .section-graduates {
    width: 100%;
    text-align: center;
    margin-bottom: 72px;
  }
}
.section-graduates h3 {
  font-size: 5.6rem;
  margin-bottom: 8rem;
}
@media screen and (max-width: 991px) {
  .section-graduates h3 {
    font-size: 2.4rem;
    margin-bottom: 3.6rem;
  }
}
.section-graduates h3 span {
  font-size: 4rem;
}
@media screen and (max-width: 991px) {
  .section-graduates h3 span {
    font-size: 1.6rem;
  }
}
.section-graduates .graduates-box {
  display: flex;
  justify-content: center;
}
.section-graduates img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.section-graduates h4 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  text-align: left;
  margin-bottom: 1.2rem;
  line-height: 2;
}
.section-graduates p {
  font-size: 1.6rem;
  text-align: left;
  line-height: 2;
}
.section-graduates .graduate-wada {
  margin-bottom: 40px;
  margin-right: 12rem;
}

/* section-location */
.section-location {
  margin-bottom: 224px;
}
.section-location .location-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.section-location .location-text h3 {
  font-size: 5.6rem;
  margin-bottom: 3.2rem;
}
@media screen and (max-width: 991px) {
  .section-location .location-text h3 {
    font-size: 2.4rem;
    margin-bottom: 3.6rem;
  }
}
.section-location .location-text h3 span {
  font-size: 4rem;
}
@media screen and (max-width: 991px) {
  .section-location .location-text h3 span {
    font-size: 1.6rem;
  }
}
.section-location .location-text h4 {
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: 3.2rem;
  width: 100%;
}

.footer {
  max-width: 1980px;
  min-width: 480px;
}
.footer .footer_subscribe {
  min-height: 360px;
  background-color: #ccc;
  text-align: center;
  display: flex;
  justify-content: center;
  /* justify-content: space-evenly; */
  align-items: center;
}
.footer .footer_subscribe h3 {
  font-size: 3.2rem;
  font-weight: 700;
  padding-top: 32px;
  padding-bottom: 40px;
  color: #333;
  text-align: left;
}
.footer .footer_subscribe p {
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: #333;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.2rem;
}
.footer .footer_subscribe .subscribe-text {
  margin-right: 3.6rem;
}
.footer .footer_subscribe .subscribe-inputbox {
  display: flex;
  /* vertical-align: middle; */
  justify-content: center;
  align-items: center;
}
.footer .footer_subscribe input {
  width: 560px;
  height: 88px;
  border: none;
  border-radius: 8px 0 0 8px;
}
.footer .footer_subscribe input:focus {
  outline: none;
}
.footer .footer_subscribe input::placeholder {
  font-size: 2rem;
  padding-left: 2.4rem;
}
.footer .footer_subscribe .send-btn {
  width: 48px;
  padding: 33px 26px;
  background-color: #FF710A;
  color: #fff;
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: 700;
  border-radius: 0 8px 8px 0;
  text-align: center;
}

.footer_navigation {
  height: 104px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 160px;
}
.footer_navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_navigation ul li {
  list-style: none;
}
.footer_navigation ul li a {
  text-decoration: none;
  padding: 0 20px;
}
.footer_navigation ul li a img {
  width: 40px;
  height: auto;
}
.footer_navigation .copyright {
  font-size: 1.6rem;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */