.header {
    // width: 100%;
    max-width: 1980px;
    margin: 0 auto;
    height: 128px;
    padding: 10px;
    background-color: #FFF;
    margin-bottom: 86px;

    &-topicon {
        background-image: url("../images/header_image.png");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: contain;
        width: 100%;
        height: 200px;
    }
    
    .open-btn {
        font-size:5rem;
        margin-right: 24px;
        cursor: pointer;

        @media screen and (max-width:991px) {
            font-size:3.2rem;
        }
    }
    
    .fa-bars:before {
        content: "\f0c9";
        margin-right: 1.6rem;
    }

}
