@charset "UTF-8";
.main {
  background-color: #f6f8f9;
}

.section-top h2 {
  color: #fff;
  font-size: 2rem;
}
.section-top__image {
  height: 200px; /*デバイス（スマートフォン）の高さ一杯にするため*/
  background-image: url("../images/common/mountain04.jpg");
  background-position: center;
  background-size: 100% auto; /*左右は100%、高さはautoピッタリ合わせる*/
  background-repeat: no-repeat;
}
.section-top__image-filter {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  padding-top: 80px;
}

@media (min-width: 960px) {
  .section-top h2 {
    font-size: 4rem;
  }
  .section-top__image {
    height: 540px;
  }
  .section-top__image-filter {
    padding-top: 210px;
  }
}
.news-container {
  padding: 40px 24px 90px;
  text-align: left;
}
.news-container .news-list {
  list-style: none;
  margin-bottom: 60px;
}
.news-container .news-list li {
  margin-bottom: 10px;
}
.news-container .news-list h3 {
  font-weight: 300;
}
.news-container .news-list__category {
  background-color: #777;
  width: 150px;
  height: 24px;
  padding-left: 8px;
  color: #fff;
  font-size: 1.4rem;
}
.news-container .news-list__category.press {
  background-color: #004280;
}
.news-container .news-list__category.info {
  background-color: #2987b9;
}
.news-container .news-list__news-body {
  display: none;
}

.pagenation {
  text-align: center;
}
.pagenation__list li {
  display: inline-block;
  border: solid 2px #333;
}
.pagenation__list li a {
  display: block;
  padding: 10px;
  max-width: 40px;
  max-height: 46px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  font-weight: bold;
}
.pagenation__list li a.selected {
  background-color: #707070;
  color: #fff;
}

@media (min-width: 960px) {
  .news-container {
    padding: 120px 24px;
  }
  .news-container .news-list {
    width: 800px;
    margin: 0 auto;
  }
  .news-container .news-list li {
    display: flex;
    margin-bottom: 60px;
  }
  .news-container .news-list__category {
    width: 200px;
    height: 150px;
    font-size: 2rem;
    vertical-align: middle;
    line-height: 150px;
    text-align: center;
  }
  .news-container .news-list__text {
    margin-left: 60px;
    width: 540px;
  }
  .news-container .news-list__text h3, .news-container .news-list__text time {
    font-weight: 600;
  }
  .news-container .news-list__text time {
    display: block;
    margin-bottom: 20px;
  }
  .news-container .news-list__news-body {
    display: block;
  }
  .news-container .pagenation__list {
    font-size: 0;
  }
  .news-container .pagenation__list li {
    border-left: none;
  }
  .news-container .pagenation__list li a {
    padding: 18px;
    max-width: none;
    max-height: none;
    font-size: 3rem;
    font-weight: 600;
  }
  .news-container .pagenation__list li:first-child {
    margin-right: 20px;
    border: solid 2px #333;
  }
  .news-container .pagenation__list li:nth-child(2) {
    border: solid 2px #333;
  }
  .news-container .pagenation__list li:last-child {
    margin-left: 20px;
    border: solid 2px #333;
  }
}/*# sourceMappingURL=news_list.css.map */